h2 {
  color: red;
  position: absolute;
  top: 240px;
  left: 218px;
  font-size: xx-large;
}


.btn {
  width: 150px;
  height: 150px;
  font-size: xx-large;
  margin: 40px;
}

.btn:hover {
  width: 150px;
  height: 150px;
  /* background-color: white; */
  cursor: pointer;
  color: lime;
  /* margin: 40px; */
}

.redBg {
  background-color: rgb(161, 7, 7);
  border-radius: 40%;
  /* width: 100px;
  height: 100px; */
}

.greenBg {
  background-color: green;
  border-radius: 40%;
  /* width: 100px;
  height: 100px; */
}
